<%- layout('/Layouts/boilerplate') %>
<body>
    <br>
    <h1>Create New List</h1>
    <hr> 
    <form action="/lists" method="post" class="needs-validation" novalidate>
        <div class="row " >
        <div class="col-10 offset-1">   
        <div class="mb-4">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" class="form-control" name="title" placeholder="Add a catchyTitle" required>
            <div class="valid-feedback"> Title looks good.</div>
            <div class="invalid-feedback"> Title must be required.!</div>
 
        </div> 
        <div class="mb-4">
            
            <label for="description" class="form-label">Description:</label>
            <textarea type="text" id="description" class="form-control" name="description" placeholder="Enter Description" required></textarea>
            <div class="valid-feedback"> Description looks good.</div>
            <div class="invalid-feedback"> Description must be required.!</div>
        </div>
        <div class="mb-4">
            
            <label for="imageUrl" class="form-label">Image URL:</label>
            <input type="text" id="imageUrl" class="form-control" name="image[url]" placeholder="Enter Image Url/link" >
            <div class="valid-feedback"> URL you can Enter otherwise it will take defaul.</div>
            
        </div>
       <div class="row">
         <div class="mb-4 col-md-6" >
            <label for="imageFilename" class="form-label">Image Filename:</label>
            <input type="text" id="imageFilename" class="form-control" name="image[filename]" placeholder="Enter Image filename" >
            <div class="valid-feedback"> Adding Filename is a good Practice.</div>
           
        </div>
        <div class="mb-4 col-md-6" >
            <label for="price" class="form-label">Price:</label>
            <input id="price" class="form-control" name="price" placeholder="1500" required>
            <div class="valid-feedback"> Price looks good.</div>
            <div class="invalid-feedback"> Price must be required.!</div>
        </div>
    </div>   
    <div class="row">
        <div class="mb-4 col-md-6" >
            <label for="location" class="form-label">Location:</label>
            <input type="text" id="location"  class="form-control" name="location" placeholder="Mumbai , Maharashtra " required>
            <div class="valid-feedback"> Location looks good.</div>
            <div class="invalid-feedback"> Location must be required.!</div>
        </div>
        <div class="mb-4 col-md-6" >
            <label for="country" class="form-label">Country:</label>
            <input type="text" id="country" class="form-control" name="country" placeholder="India" required>
            <div class="valid-feedback"> Country name looks good.</div>
            <div class="invalid-feedback"> Country name must be required.!</div>
        </div>
    </div>
     

       
        <button style="background-color: red; color: white; padding: 5px; border-radius: 5px;">Add List</button>
    </div>
    </div>    
    </form>
    <br><br><br>
    
</body>
